*{
    margin: 0;
    padding: 0;
}
body{
    /*background-color rosa*/
    background-color: #f5ced4;
}
h1{
    text-align: center;
}
footer{
    text-align: center;
}
div{
    margin: 20px;
    border: 3px solid black;
    box-sizing: border-box;
}
#container{
    display: flex;
    /*flex-direction: column;*/
    justify-content: space-between;
    flex-wrap: wrap;
    align-content: center;
}
#caja1,#caja2,#caja3,#caja4,#caja5 {
background-color: khaki;
border: 2px solid aquamarine;
}

article{
    border: 3px solid #b18a8a;
    padding: 30px;
    margin: 20px;
    
}
section{
    padding: 30px;
    border: 2px solid #a09a9a;
}
#saludo{
    width: 600px;
    height: 100px;
    background-color: chocolate;
    transition: background-color 5s;
}
#saludo:hover{
    background-color: yellow;
}